* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
    color: #727272;
    box-sizing: border-box;
}

h3 {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 24px;
}

.pry-btn {
    background-color: #ff8903;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

img {
    width: 100%;
}

section {
    padding: 75px 10%;
}

.gray {
    color: grey;
}

.orange {
    color: #ff8903;
}

/* header */
header {
    padding: 25px 10%;
    background-color: #FF900E1A;
}

.logo {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    list-style-type: none;
}

.nav-right li {
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.nav-right li:hover a,
.nav-right li:hover a i {
    color: #ff8903;
    font-weight: 700;
}

.nav-right li a {
    text-decoration: none;
    color: #424242;
    padding: 7px;
}

/* banner */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-text {
    width: 65%;
    padding: 50px 0;
}

h1 {

    font-weight: 700;
    font-size: 64px;
    color: #131313;
    padding: 20px 0;
}

.banner-text p {
    color: #727272;
    padding-bottom: 30px;
}

/* main */

/* features */
.features {
    display: flex;
    align-items: center;
}

.features-img {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.features-img img {
    transition: all 0.5s ease-in-out;
}

.features-img img:hover {
    transform: scale(1.1);
}

.features-info {
    flex: 1;
    padding: 70px;
}

.features-info p {
    padding: 30px 0;
}

/* love enjoy  */
.lovenjoy {
    display: flex;
    gap: 60px;
}

.lovenjoy>div {
    flex: 1;
}

.lovenjoy-info h3 {
    margin: 24px 0;
    padding-left: 24px;
    padding-bottom: 0;
    border-left: 5px solid #ff8903;
}

.love-info-item {
    background-color: #ffffff;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
}

.love-info-item h4 {
    padding: 10px 0;
}

.lovenjoy-img {
    position: relative;
}

.pry-btn.abso-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 50px;
}

.btn-experience {
    font-size: 20px;
    color: #ffffff;
}

/* facts */
.facts-conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.facts-item {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #FF900E;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.facts-item:hover {
    border: 1px solid #0e9bff;
}

.facts-item-img {
    width: 50%;
}

.bold {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
}

/* sponsors */
.sponsors {
    text-align: center;
}

.sponsors-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

/* footer */
footer {
    background-color: #FF900E1A;
    margin: 25px 10%;
    padding: 40px 0;
    text-align: center;
    border-radius: 5px;
}

footer p {
    color: #424242;
}